body {
  margin: 0;
  font-family: Arial;
}

a {
  color: white;
  text-decoration: none;
}

button {
  padding: 10px;
  background: linear-gradient(90deg,#6366f1,#8b5cf6);
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}